@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  border: none;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  margin-bottom: -1.5rem;
}
.header__icon {
  position: absolute;
  transform: scale(1.4);
  z-index: 100;
  top: 10%;
  right: 5%;
  transition: all 0.2s;
}

.body__manha .header {
  background-image: linear-gradient(to right bottom, rgba(70, 96, 103, 0.01), rgba(70, 96, 103, 0.01)), url(../images/manha.jpg);
}
.body__manha .header__icon {
  fill: #fff;
}
.body__manha .header__icon:hover {
  fill: #46fbe6;
  transform: scale(1.8);
}
.body__manha .header__icon:active {
  transform: scale(1.4);
}

.body__noite .header {
  background-image: linear-gradient(to right bottom, rgba(70, 96, 103, 0.05), rgba(70, 96, 103, 0.05)), url(../images/noite.jpg);
}
.body__noite .header__icon {
  fill: #ccc;
}
.body__noite .header__icon:hover {
  fill: #34baab;
  transform: scale(1.8);
}
.body__noite .header__icon:active {
  transform: scale(1.4);
}

.body__manha {
  background-color: #459a96;
}
.body__manha .main {
  background-color: #459a96;
}
.body__manha .main__img {
  background-color: #459a96;
  top: -4rem;
  left: 50%;
  transform: translate(-50%);
}
.body__manha .main__heading {
  color: #fff;
}
.body__manha .main__item {
  letter-spacing: 0.1rem;
  color: #fff;
  transition: all 0.2s;
}
.body__manha .main__item:hover, .body__manha .main__item:active {
  color: #46fbe6;
  animation: pulsar 2s infinite;
  transition: all 0.2s;
}
.body__manha .main__item:hover .main__icon, .body__manha .main__item:active .main__icon {
  fill: #46fbe6;
}
.body__manha .main__icon {
  fill: #fff;
  height: 3rem;
  width: 3rem;
}

.body__noite {
  background-color: #466067;
}
.body__noite .main {
  background-color: #466067;
}
.body__noite .main__img {
  background-color: #466067;
  top: -4rem;
  left: 50%;
  transform: translate(-50%);
}
.body__noite .main__heading {
  color: #ccc;
}
.body__noite .main__item {
  letter-spacing: 0.1rem;
  color: #ccc;
  transition: all 0.2s;
}
.body__noite .main__item:hover, .body__noite .main__item:active {
  color: #34baab;
  animation: pulsar 2s infinite;
  transition: all 0.2s;
}
.body__noite .main__item:hover .main__icon, .body__noite .main__item:active .main__icon {
  fill: #34baab;
}
.body__noite .main__icon {
  fill: #ccc;
  height: 3rem;
  width: 3rem;
}

.body__manha .footer {
  background-color: #459a96;
  color: #fff;
  position: relative;
  height: 2%;
}
.body__manha .footer__paragrafo {
  z-index: 100;
  position: absolute;
  top: -2rem;
}

.body__noite .footer {
  background-color: #466067;
  color: #ccc;
  position: relative;
  height: 2%;
}
.body__noite .footer__paragrafo {
  z-index: 100;
  position: absolute;
  top: -2rem;
}

@keyframes pulsar {
  0% {
    transform: rotate(2deg) scale(1);
  }
  50% {
    transform: rotate(2deg) scale(1.2);
  }
  100% {
    transform: rotate(2deg) scale(1);
  }
}

/*# sourceMappingURL=main.css.map */
