*,
*::after,
*::before {
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    border: none;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

$color-primary-dark-1: #484450;
$color-primary-dark-2: #466067;
$color-primary: #459a96;
$color-primary-light-1: #34baab;
$color-primary-light-2: #c4c8c5;
$color-primary-light-3: #46fbe6;

$color-white: #fff;
$color-grey: #ccc;

// BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em;  // 800px
$bp-small: 37.5em; // 600px

