.body__manha {
    
    .footer {
        background-color: $color-primary;
        color: $color-white;
        
        &__paragrafo {
            margin-top: -.5rem;
            z-index: 100;
        }
    }
}

.body__noite {
    
    .footer {
        background-color: $color-primary-dark-2;
        color: $color-grey;
        
        &__paragrafo {
            margin-top: -.5rem;
            z-index: 100;
        }
    }
}