.body__manha {
    
    .footer {
        background-color: $color-primary;
        color: $color-white;
        position: relative;
        height: 2%;
        
        &__paragrafo {
            z-index: 100;
            position: absolute;
            top: -2rem;
        }
    }
}

.body__noite {
    
    .footer {
        background-color: $color-primary-dark-2;
        color: $color-grey;
        position: relative;
        height: 2%;
        
        &__paragrafo {
            z-index: 100;
            position: absolute;
            top: -2rem;
        }
    }
}