.header {
    margin-bottom: -1.5rem;

    &__btn {
        position: absolute;
        transform: scale(1.5);
        
        z-index: 100;
        top: 2rem;
        right: 2rem;
    }
}

.body__manha {

    .header {
        background-image: linear-gradient(to right bottom,
                        rgb($color-primary-dark-2, 0.01),
                        rgb($color-primary-dark-2, 0.01)),
                        url(../images/manha.jpg);

        &__btn {
            fill: $color-white;
        }
    }
}

.body__noite {

    .header {
        background-image: linear-gradient(to right bottom,
                        rgb($color-primary-dark-2, 0.05),
                        rgb($color-primary-dark-2, 0.05)),
                        url(../images/noite.jpg);

        &__btn {
            fill: $color-grey;
        }
    }
}
