.body__manha {
    background-color: $color-primary;
    
    .main {
        background-color: $color-primary;
        height: 71vh;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        margin-top: -5rem;
        
        &__img {
            background-color: $color-primary;
            top: -5rem;
            left: 50%;
            transform: translate(-50%);
        }

        &__heading {
            color: $color-white;
        }
    
        &__item {
            letter-spacing: .1rem;
            color: $color-white;
            transition: all .2s;
    
            &:hover,
            &:active {
                color: $color-primary-light-3;
                animation: pulsar 2s infinite;
                transition: all .2s;
                
                .main__icon {
                    fill: $color-primary-light-3;
                }
            }
        }
    
        &__icon {
            fill: $color-white;
            height: 3rem;
            width: 3rem;
        }
    }
}

.body__noite {
    background-color: $color-primary-dark-2;

    .main {
        background-color: $color-primary-dark-2;
        height: 71vh;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        margin-top: -5rem;
        
        &__img {
            background-color: $color-primary-dark-2;
            top: -5rem;
            left: 50%;
            transform: translate(-50%);
        }

        &__heading {
            color: $color-grey;
        }
    
        &__item {
            letter-spacing: .1rem;
            color: $color-grey;
            transition: all .2s;
    
            &:hover,
            &:active {
                color: $color-primary-light-1;
                animation: pulsar 2s infinite;
                transition: all .2s;
                
                .main__icon {
                    fill: $color-primary-light-1;
                }
            }
        }
    
        &__icon {
            fill: $color-grey;
            height: 3rem;
            width: 3rem;
        }
    }
}
